<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/style.css">
    <title>Twitter Sentiment-Analysis</title>
</head>
<body>
    <div class="header">
        <h2 class="header-heading">Tweet Sentiment-Analysis</h2>
        <p class="header-description">Fill the form to see if the entered tweet was positive or negative</p>
    </div>
    <div class="main">
        <form action="{{ url_for('predict') }}" method="post">
            <textarea name="tweet" id="tweet" cols="30" rows="10" placeholder="Enter your tweet here" required></textarea><br>
            <input type="submit" value="Analyze">
            <output class="result">{{ prediction }}</output>
        </form>
    </div>
    <div class="footer">
        <div class="contact">
            <a href=""><img id="github" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="GitHub"></a>
            <a href=""><img id="linkedin" src="https://assets.stickpng.com/images/6297a2f1e01809629f113598.png" alt="Linkedin"></a>
        </div>
        <div class="footer-description">Made by Md Kazi Sajiduddin</div>
    </div>
</body>
</html>